.logo-child,
.logo-item {
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  bottom: 0;
}
.logo-child {
  width: 96.8px;
  right: -0.3px;
  border-radius: 0 5.71px 0 0;
  background-color: var(--primary-100);
}
.logo-item {
  width: 117.8px;
  left: 0;
  border-radius: 5.71px;
  border: 1.4px solid var(--primary-100);
  box-sizing: border-box;
  z-index: 1;
}
.r {
  letter-spacing: -0.02em;
}
.e {
  letter-spacing: 0.08em;
}
.re {
  font-weight: 600;
}
.work {
  letter-spacing: -0.02em;
  font-family: var(--font-actor);
  color: var(--color-white);
}
.ai,
.rework {
  position: relative;
  display: inline-block;
}
.rework {
  height: 24px;
  min-width: 107.1px;
  white-space: nowrap;
  z-index: 2;
}
.ai {
  height: 8px;
  min-width: 10px;
  z-index: 1;
}
.ai-wrapper {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-base) 0 0;
  font-size: var(--font-size-xs-4);
  color: var(--color-white);
  font-family: var(--font-gilroy-regular);
}
.ai-wrapper,
.child-list,
.logo {
  display: flex;
  align-items: flex-start;
}
.logo {
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-6xs) var(--padding-5xs)
    7.800000000000011px;
  position: relative;
  gap: 7.099999999999994px;
}
.child-list {
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-11xs);
}
.talent-finder {
  width: 103px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 103px;
  white-space: nowrap;
}
.for-employers1,
.for-recruiters {
  position: relative;
  display: inline-block;
  white-space: nowrap;
}
.for-recruiters {
  flex: 1;
  min-width: 109px;
}
.for-employers1 {
  align-self: stretch;
  font-weight: 600;
  min-width: 115px;
}
.frame-child {
  height: 3px;
  width: 37px;
  position: relative;
}
.for-employers-parent,
.vector-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.vector-wrapper {
  height: 3px;
  flex-direction: row;
  padding: 0 var(--padding-20xl);
  box-sizing: border-box;
}
.for-employers-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-12xs);
  color: var(--primary-100);
}
.about-us,
.company {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-us {
  width: 72px;
  min-width: 72px;
  white-space: nowrap;
}
.company {
  width: 80px;
  min-width: 80px;
}
.parent-box-inner,
.talent-finder-parent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.talent-finder-parent {
  width: 607px;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.parent-box-inner {
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-7xs);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
  font-family: var(--font-poppins);
}
.simple-button1 {
  align-self: stretch;
  width: 129px;
}
.simple-button2 {
  align-self: stretch;
  flex: 1;
}
.parent-box,
.path-segment {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.path-segment {
  width: 298px;
  align-items: flex-start;
  gap: var(--gap-mid);
}
.parent-box {
  height: 44px;
  align-items: flex-end;
  gap: var(--gap-17xl);
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-16xl-5);
  color: var(--primary-100);
  font-family: var(--font-outfit);
}
.frame-item,
.heading {
  position: absolute;
  top: 0;
  height: 100%;
}
.heading {
  bottom: 0;
  left: 174px;
  border-radius: 50%;
  background-color: var(--color-whitesmoke-100);
  width: 596px;
}
.frame-item {
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--primary-100);
  width: 100%;
  display: none;
}
.k {
  margin: 0;
}
.candidates-hired {
  margin: 0;
  font-size: var(--font-size-smi-3);
  font-family: var(--font-garnett-light);
}
.k-candidates-hired-container {
  position: absolute;
  top: 22px;
  left: 92px;
  z-index: 1;
}
.frame-inner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--primary-300);
  width: 100%;
  height: 100%;
  display: none;
}
.input-form-icon {
  position: absolute;
  top: 18px;
  left: 18px;
  width: 28.3px;
  height: 28.3px;
  z-index: 2;
}
.rectangle-group,
.rectangle-parent {
  position: absolute;
  border-radius: var(--br-8xs);
}
.rectangle-group {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--primary-300);
  top: 15px;
  left: 16px;
  width: 64px;
  height: 64px;
  z-index: 1;
}
.rectangle-parent {
  top: 358px;
  left: 0;
  background-color: var(--primary-100);
  width: 219px;
  height: 94px;
}
.mask-group-child {
  position: absolute;
  top: 145px;
  left: 175px;
  border-radius: 0 0 0 var(--br-96xl);
  width: 567px;
  height: 402px;
  object-fit: cover;
  z-index: 4;
}
.mask-group {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 555px;
  overflow: hidden;
  z-index: 1;
}
.heading-parent {
  height: 596px;
  width: 744px;
  position: absolute;
  margin: 0 !important;
  right: -635px;
  bottom: -370px;
}
.power-up-your {
  margin: 0;
}
.with-rework {
  margin: 0;
  font-size: var(--font-size-29xl);
  font-family: var(--font-garnett-regular);
}
.power-up-your-container {
  height: 141px;
  flex: 1;
  position: relative;
  color: var(--primary-100);
  display: inline-block;
  max-width: 100%;
  z-index: 5;
  font-size: var(--font-size-35xl);
  font-family: var(--font-garnett-semibold);
}
.frame-group {
  width: 685px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  max-width: 100%;
  font-size: var(--font-size-5xl-9);
  font-family: var(--font-space-grotesk);
}
.empower-your-business {
  flex: 1;
  position: relative;
  line-height: 22px;
  display: inline-block;
  max-width: 100%;
  z-index: 5;
}
.empower-your-business-with-cut-wrapper {
  width: 685px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-7xl);
  box-sizing: border-box;
  max-width: 100%;
  color: var(--black);
}
.cta-button1 {
  width: 271px;
  height: 70px;
}
.group-icon {
  height: 20px;
  width: 20px;
  position: relative;
}
.no-credit-required {
  flex: 1;
  position: relative;
}
.group-parent {
  width: 160px;
  height: 37px;
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
.group-icon1 {
  height: 20px;
  width: 20px;
}
.group-icon1,
.streamlined-recruitment-proces {
  position: relative;
}
.group-group {
  height: 37px;
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
.frame-child1,
.rectangle-div {
  height: 94px;
  width: 219px;
  position: relative;
  border-radius: var(--br-8xs);
  background-color: var(--primary-100);
  display: none;
}
.frame-child1 {
  height: 64px;
  width: 64px;
  background-color: var(--primary-300);
}
.vector-icon {
  height: 28.3px;
  width: 28.3px;
  position: relative;
  z-index: 2;
}
.frame-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-lg) var(--padding-lg) 17.69999999999999px;
  background-color: var(--primary-300);
  align-self: stretch;
  border-radius: var(--br-8xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.p {
  margin: 0;
}
.happy-companies1 {
  margin: 0;
  font-size: var(--font-size-smi-3);
  font-family: var(--font-garnett-light);
}
.happy-companies {
  position: relative;
  z-index: 1;
}
.data-aggregator {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
}
.frame-div,
.rectangle-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.rectangle-container {
  border-radius: var(--br-8xs);
  background-color: var(--primary-100);
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-sm) var(--padding-mini)
    var(--padding-base);
  gap: var(--gap-mini);
  z-index: 5;
}
.frame-div {
  flex: 1;
  justify-content: flex-end;
  font-size: var(--font-size-5xl-9);
  color: var(--primary-300);
  font-family: var(--font-space-grotesk);
}
.frame-container {
  align-self: stretch;
  flex: 1;
  flex-direction: column;
  gap: var(--gap-12xs);
}
.cta-button-parent,
.frame-container,
.frame-parent,
.frame-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-wrapper {
  align-self: stretch;
  flex: 1;
  flex-direction: row;
  padding: 0 0 0 var(--padding-12xs);
  box-sizing: border-box;
}
.cta-button-parent,
.frame-parent {
  flex-direction: column;
}
.cta-button-parent {
  align-self: stretch;
  height: 267px;
  gap: var(--gap-8xl);
  color: var(--primary-100);
}
.frame-parent {
  width: 951px;
  gap: var(--gap-3xs);
}
.copy-component-child {
  width: 140px;
  height: 41px;
  position: relative;
  display: none;
}
.copy-component {
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-15xl) var(--padding-101xl) var(--padding-19xl);
  box-sizing: border-box;
  gap: var(--gap-85xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--primary-300);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1125px) {
  .talent-finder-parent {
    display: none;
  }
}
@media screen and (max-width: 825px) {
  .talent-finder-parent {
    gap: 32px 16px;
  }
  .parent-box {
    gap: 36px 18px;
  }
  .power-up-your-container {
    font-size: var(--font-size-19xl);
  }
  .copy-component {
    gap: 52px 104px;
    padding: var(--padding-3xl) var(--padding-41xl) var(--padding-6xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .k-candidates-hired-container {
    font-size: var(--font-size-lgi);
  }
  .power-up-your-container {
    font-size: var(--font-size-10xl);
  }
  .happy-companies {
    font-size: var(--font-size-lgi);
  }
  .copy-component {
    gap: 26px 104px;
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
