.hiring-platform-for {
  font-family: var(--font-garnett-regular);
}
.how-rework-ai-container {
  margin: 0;
  align-self: stretch;
  height: 212px;
  position: relative;
  font-size: inherit;
  display: inline-block;
  font-family: inherit;
}
.how-rework-ai-has-been-a-good-wrapper {
  width: 391px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-19xl);
  font-family: var(--font-garnett-medium);
}
.b {
  position: relative;
  display: inline-block;
  min-width: 101px;
}
.frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-51xl) 0 70.19999999999999px;
}
.reduction-in-your {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-lg);
  font-family: var(--font-poppins);
  color: var(--color-darkslategray);
  text-align: center;
}
.frame-parent19 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  min-width: 157px;
}
.b1,
.line-div {
  position: relative;
}
.line-div {
  height: 184px;
  width: 2px;
  border-right: 2px solid var(--primary-100);
  box-sizing: border-box;
}
.b1 {
  display: inline-block;
  min-width: 101px;
}
.wrapper1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-51xl) 0 70.19999999999999px;
}
.streamline-your-budgeting {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-lg);
  font-family: var(--font-poppins);
  color: var(--color-darkslategray);
  text-align: center;
}
.frame-parent20 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  min-width: 157px;
}
.frame-child3 {
  height: 184px;
  width: 2px;
  position: relative;
  border-right: 2px solid var(--primary-100);
  box-sizing: border-box;
}
.frame-parent18,
.frame-wrapper7 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent18 {
  align-self: stretch;
  flex-direction: row;
  gap: 17.366666666666674px;
}
.frame-wrapper7 {
  width: 538.7px;
  flex-direction: column;
  padding: var(--padding-3xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.k1 {
  position: relative;
  display: inline-block;
  min-width: 84px;
}
.k-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-60xl) 0 78.59999999999991px;
}
.certified-sourcing-partners {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-lg);
  font-family: var(--font-poppins);
  color: var(--color-darkslategray);
  text-align: center;
}
.data-processor,
.data-processor-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.data-processor {
  align-self: stretch;
  gap: var(--gap-3xs);
}
.data-processor-wrapper {
  width: 241.3px;
  padding: var(--padding-3xl) 0 0;
  box-sizing: border-box;
}
.for-employers-child,
.frame-parent17 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.frame-parent17 {
  flex: 1;
  background-color: var(--white);
  overflow: hidden;
  justify-content: center;
  padding: var(--padding-76xl) var(--padding-xl) var(--padding-76xl)
    var(--padding-2xl);
  gap: var(--gap-base);
}
.for-employers-child {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 var(--padding-12xs) var(--padding-58xl);
  text-align: left;
  font-size: var(--font-size-31xl);
  color: var(--primary-100);
  font-family: var(--font-space-grotesk);
}
@media screen and (max-width: 1400px) {
  .frame-parent17 {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 825px) {
  .how-rework-ai-container {
    font-size: var(--font-size-11xl);
  }
  .b {
    font-size: var(--font-size-21xl);
  }
  .line-div {
    width: 100%;
    height: 2px;
  }
  .b1 {
    font-size: var(--font-size-21xl);
  }
  .frame-child3 {
    width: 100%;
    height: 2px;
  }
  .frame-parent18 {
    flex-wrap: wrap;
  }
  .k1 {
    font-size: var(--font-size-21xl);
  }
  .for-employers-child {
    padding-bottom: var(--padding-31xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .how-rework-ai-container {
    font-size: var(--font-size-4xl);
  }
  .b,
  .b1,
  .k1 {
    font-size: var(--font-size-11xl);
  }
  .frame-parent17 {
    padding-top: var(--padding-43xl);
    padding-bottom: var(--padding-43xl);
    box-sizing: border-box;
  }
}
