.microsoft-1-icon {
  align-self: stretch;
  height: 26px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.form-field {
  margin-left: -211px;
  height: 34px;
  width: 131px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-5xs);
  box-sizing: border-box;
}
.google-2015-1-icon {
  align-self: stretch;
  height: 31px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.shape-set {
  height: 36.5px;
  width: 99px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-7xs-5);
  box-sizing: border-box;
}
.kisspng-amazon-com-logo-brand-icon {
  align-self: stretch;
  height: 38px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.shape-set1 {
  height: 40px;
  width: 106px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-11xs);
  box-sizing: border-box;
}
.dropdown-menu,
.hire-for-1000 {
  display: flex;
  justify-content: center;
}
.hire-for-1000 {
  width: 312px;
  position: relative;
  font-weight: 500;
  align-items: center;
}
.dropdown-menu {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-xl);
}
.kisspng-nokia-networks-logo-ny-icon {
  align-self: stretch;
  height: 26px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.shape-set2 {
  height: 34px;
  width: 131px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
}
.vector-icon1 {
  height: 42px;
  width: 140px;
  position: relative;
}
.microsoft-2-icon {
  align-self: stretch;
  height: 26px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.form-field1,
.tree-structure {
  display: flex;
  align-items: flex-start;
}
.form-field1 {
  height: 34px;
  width: 131px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
}
.tree-structure {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.dropdown-menu-parent {
  width: 562px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
  max-width: 100%;
}
.google-2015-2-icon {
  align-self: stretch;
  height: 31px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.shape-set3 {
  height: 36.5px;
  width: 99px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-7xs-5);
  box-sizing: border-box;
}
.kisspng-amazon-com-logo-brand-icon1 {
  align-self: stretch;
  height: 38px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.shape-set4 {
  height: 40px;
  width: 106px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-11xs);
  box-sizing: border-box;
}
.kisspng-nokia-networks-logo-ny-icon1 {
  align-self: stretch;
  height: 26px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.form-field-parent,
.shape-set5 {
  display: flex;
  box-sizing: border-box;
}
.shape-set5 {
  height: 34px;
  width: 131px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-5xs);
}
.form-field-parent {
  align-self: stretch;
  background-color: var(--primary-300);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-31xl) var(--padding-54xl-5);
  gap: var(--gap-61xl);
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-plum);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1400px) {
  .form-field-parent {
    flex-wrap: wrap;
    padding-left: var(--padding-17xl);
    padding-right: var(--padding-17xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 825px) {
  .tree-structure {
    flex-wrap: wrap;
    justify-content: center;
  }
  .form-field-parent {
    gap: 80px 40px;
  }
}
@media screen and (max-width: 450px) {
  .hire-for-1000 {
    font-size: var(--font-size-base);
  }
  .form-field-parent {
    gap: 80px 20px;
  }
}
