.questions {
  font-family: var(--font-garnett-regular);
}
.frequently-asked-questions-container {
  margin: 0;
  height: 59px;
  flex: 1;
  position: relative;
  font-size: inherit;
  display: inline-block;
  max-width: 100%;
  font-family: inherit;
}
.frequently-asked-questions-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-59xl) 0 var(--padding-60xl);
  box-sizing: border-box;
  max-width: 100%;
}
.we-have-compiled {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 22px;
  font-family: var(--font-poppins);
  color: var(--black);
}
.frame-parent21,
.hero-inner {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent21 {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-3xl);
}
.hero-inner {
  width: 854px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-lg);
  box-sizing: border-box;
}
.how-can-i {
  position: relative;
  line-height: 22px;
  font-weight: 500;
}
.typcnplus-icon {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.popover {
  height: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-12xs);
  box-sizing: border-box;
}
.toggle-button {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.lorem-ipsum-dolor {
  align-self: stretch;
  height: 53px;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 22px;
  font-weight: 300;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.toggle-button-parent {
  width: 854px;
  border-radius: var(--br-3xs);
  border: 2px solid var(--primary-100);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xl) var(--padding-7xl) var(--padding-base);
  gap: var(--gap-5xl);
}
.how-can-i1 {
  position: relative;
  line-height: 22px;
  font-weight: 500;
}
.triangle,
.typcnplus-icon1 {
  overflow: hidden;
  flex-shrink: 0;
}
.typcnplus-icon1 {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.triangle {
  width: 854px;
  height: 66px;
  border-radius: var(--br-3xs);
  border: 2px solid var(--primary-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-2xl) var(--padding-12xl) var(--padding-2xl)
    var(--padding-8xl);
  gap: var(--gap-xl);
}
.how-can-i2 {
  position: relative;
  line-height: 22px;
  font-weight: 500;
}
.triangle1,
.typcnplus-icon2 {
  overflow: hidden;
  flex-shrink: 0;
}
.typcnplus-icon2 {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.triangle1 {
  width: 854px;
  height: 66px;
  border-radius: var(--br-3xs);
  border: 2px solid var(--primary-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-2xl) var(--padding-13xl) var(--padding-2xl)
    var(--padding-9xl);
  gap: var(--gap-xl);
}
.how-can-i3 {
  position: relative;
  line-height: 22px;
  font-weight: 500;
}
.triangle2,
.typcnplus-icon3 {
  overflow: hidden;
  flex-shrink: 0;
}
.typcnplus-icon3 {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.triangle2 {
  width: 854px;
  height: 66px;
  border-radius: var(--br-3xs);
  border: 2px solid var(--primary-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-2xl) var(--padding-12xl) var(--padding-2xl)
    var(--padding-8xl);
  gap: var(--gap-xl);
}
.how-can-i4 {
  position: relative;
  line-height: 22px;
  font-weight: 500;
}
.triangle3,
.typcnplus-icon4 {
  overflow: hidden;
  flex-shrink: 0;
}
.typcnplus-icon4 {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.triangle3 {
  width: 854px;
  height: 66px;
  border-radius: var(--br-3xs);
  border: 2px solid var(--primary-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-2xl) var(--padding-12xl) var(--padding-2xl)
    var(--padding-8xl);
  gap: var(--gap-xl);
}
.how-can-i5 {
  position: relative;
  line-height: 22px;
  font-weight: 500;
}
.triangle4,
.typcnplus-icon5 {
  overflow: hidden;
  flex-shrink: 0;
}
.typcnplus-icon5 {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.triangle4 {
  width: 854px;
  height: 66px;
  border-radius: var(--br-3xs);
  border: 2px solid var(--primary-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-2xl) var(--padding-12xl) var(--padding-2xl)
    var(--padding-8xl);
  gap: var(--gap-xl);
}
.how-can-i6 {
  position: relative;
  line-height: 22px;
  font-weight: 500;
}
.triangle5,
.typcnplus-icon6 {
  overflow: hidden;
  flex-shrink: 0;
}
.typcnplus-icon6 {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.triangle5 {
  width: 854px;
  height: 66px;
  border-radius: var(--br-3xs);
  border: 2px solid var(--primary-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-2xl) var(--padding-12xl) var(--padding-2xl)
    var(--padding-8xl);
  gap: var(--gap-xl);
}
.how-can-i7 {
  position: relative;
  line-height: 22px;
  font-weight: 500;
}
.triangle6,
.typcnplus-icon7 {
  overflow: hidden;
  flex-shrink: 0;
}
.typcnplus-icon7 {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.triangle6 {
  width: 854px;
  height: 66px;
  border-radius: var(--br-3xs);
  border: 2px solid var(--primary-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-2xl) var(--padding-12xl) var(--padding-2xl)
    var(--padding-8xl);
  gap: var(--gap-xl);
}
.frame-parent22,
.hero,
.hero-wrapper {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent22 {
  width: 854px;
  overflow-x: auto;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-base);
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--black);
  font-family: var(--font-poppins);
}
.hero,
.hero-wrapper {
  box-sizing: border-box;
}
.hero {
  flex: 1;
  background-color: var(--white);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-88xl) var(--padding-xl) var(--padding-139xl);
  gap: var(--gap-55xl);
}
.hero-wrapper {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 var(--padding-94xl);
  text-align: center;
  font-size: var(--font-size-23xl);
  color: var(--primary-100);
  font-family: var(--font-garnett-semibold);
}
@media screen and (max-width: 1400px) {
  .hero,
  .hero-wrapper {
    box-sizing: border-box;
  }
  .hero {
    padding-top: var(--padding-51xl);
    padding-bottom: var(--padding-84xl);
  }
  .hero-wrapper {
    padding-bottom: var(--padding-54xl);
  }
}
@media screen and (max-width: 1125px) {
  .frequently-asked-questions-wrapper {
    padding-left: var(--padding-20xl);
    padding-right: var(--padding-20xl);
    box-sizing: border-box;
  }
  .hero {
    gap: 37px 74px;
  }
}
@media screen and (max-width: 825px) {
  .frequently-asked-questions-container {
    font-size: var(--font-size-15xl);
  }
  .hero,
  .hero-wrapper {
    box-sizing: border-box;
  }
  .hero {
    padding-top: var(--padding-26xl);
    padding-bottom: var(--padding-48xl);
  }
  .hero-wrapper {
    padding-bottom: var(--padding-28xl);
  }
}
@media screen and (max-width: 450px) {
  .frequently-asked-questions-container {
    font-size: var(--font-size-6xl);
  }
  .hero {
    gap: 18px 74px;
  }
}
