.stories {
  font-family: var(--font-garnett-regular);
}
.success-stories {
  margin: 0;
  height: 59px;
  width: 341px;
  position: relative;
  font-size: inherit;
  text-transform: capitalize;
  display: inline-block;
  max-width: 100%;
  font-family: inherit;
}
.component-11-parent,
.progress-bar,
.radio-buttons {
  align-self: stretch;
  align-items: flex-start;
  max-width: 100%;
}
.progress-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-2xl);
  box-sizing: border-box;
}
.component-11-parent,
.radio-buttons {
  justify-content: flex-start;
}
.component-11-parent {
  display: grid;
  flex-direction: row;
  gap: var(--gap-xl);
  grid-template-columns: repeat(3, minmax(288px, 1fr));
  font-size: var(--font-size-4xl);
  color: var(--color-gray-200);
  font-family: var(--font-garnett-medium);
}
.radio-buttons {
  display: flex;
  flex-direction: column;
  gap: var(--gap-33xl);
}
.canvas,
.canvas1 {
  height: 8px;
  position: relative;
  border-radius: var(--br-8xs);
  overflow: hidden;
}
.canvas {
  width: 34px;
  background-color: var(--primary-100);
  flex-shrink: 0;
}
.canvas1 {
  flex: 1;
  background-color: var(--primary-300);
}
.canvas-parent,
.divider {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.canvas-parent {
  width: 128px;
  justify-content: flex-start;
  gap: var(--gap-smi);
}
.divider {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-3xl);
}
.dropdown-list {
  width: 1192px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-24xl);
  max-width: 100%;
}
.input-field {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-3xl) var(--padding-65xl) var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-23xl);
  color: var(--primary-100);
  font-family: var(--font-garnett-semibold);
}
@media screen and (max-width: 1125px) {
  .component-11-parent {
    justify-content: center;
    grid-template-columns: repeat(2, minmax(288px, 499px));
  }
}
@media screen and (max-width: 825px) {
  .success-stories {
    font-size: var(--font-size-15xl);
  }
  .component-11-parent {
    grid-template-columns: minmax(288px, 1fr);
  }
  .radio-buttons {
    gap: 26px 52px;
  }
  .dropdown-list {
    gap: 21px 43px;
  }
  .input-field {
    padding-bottom: var(--padding-36xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .success-stories {
    font-size: var(--font-size-6xl);
  }
}
