.helpful-for-your {
  font-family: var(--font-garnett-regular);
}
.our-amazing-benefits-container {
  margin: 0;
  width: 997px;
  position: relative;
  font-size: inherit;
  line-height: 50px;
  text-transform: capitalize;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  font-family: inherit;
}
.our-amazing-benefits-helpful-f-wrapper {
  width: 1200px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-2xl) 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.rule-applier-child {
  width: 975px;
  display: none;
  max-width: 100%;
}
.vector-icon2 {
  width: 43px;
  height: 32.2px;
  position: relative;
}
.vector-icon3 {
  width: 66.74%;
  height: 55.59%;
  position: absolute;
  margin: 0 !important;
  top: 21.43%;
  right: 14.65%;
  bottom: 22.98%;
  left: 18.6%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.frame-wrapper1,
.vector-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.vector-parent {
  height: 32.2px;
  flex-direction: column;
  position: relative;
  gap: var(--gap-3xs);
}
.frame-wrapper1 {
  flex-direction: row;
  padding: 0 var(--padding-9xs) 0 3.7000000000000455px;
}
.highly-contextualized {
  margin: 0;
}
.interview {
  margin: 0;
  font-family: var(--font-garnett-regular);
}
.highly-contextualized-intervie-container {
  margin: 0;
  align-self: stretch;
  height: 66px;
  position: relative;
  font-size: inherit;
  display: inline-block;
  font-family: inherit;
}
.al-models-generate {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 28px;
  font-family: var(--font-poppins);
  color: var(--color-gray-400);
}
.frame-parent1,
.highly-contextualized-intervie-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.highly-contextualized-intervie-parent {
  align-self: stretch;
  gap: var(--gap-lg);
}
.frame-parent1 {
  width: 343.7px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 856.3px;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
  gap: 30.799999999999955px;
}
.vector-icon4 {
  height: 36px;
  width: 36px;
  position: relative;
}
.minus-shape-icon,
.plus-shape-icon,
.star-shape-icon {
  height: 38.89%;
  width: 61.11%;
  position: absolute;
  margin: 0 !important;
  top: 41.67%;
  right: 27.78%;
  bottom: 19.44%;
  left: 11.11%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.minus-shape-icon,
.star-shape-icon {
  height: 15.28%;
  width: 8.33%;
  top: 70.83%;
  right: 13.89%;
  bottom: 13.89%;
  left: 77.78%;
}
.star-shape-icon {
  height: 19.44%;
  width: 33.33%;
  top: 0;
  right: 38.89%;
  bottom: 80.56%;
  left: 27.78%;
}
.icon-set,
.icon-set-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.icon-set {
  height: 36px;
  position: relative;
  gap: var(--gap-3xs);
}
.icon-set-wrapper {
  padding: 0 var(--padding-7xs);
}
.automated {
  margin: 0;
}
.scheduling {
  margin: 0;
  font-family: var(--font-garnett-regular);
}
.automated-scheduling {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 27.2px;
  font-family: inherit;
}
.email-whatsapp {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 28px;
  font-family: var(--font-poppins);
  color: var(--color-gray-400);
}
.automated-scheduling-parent,
.frame-parent2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.automated-scheduling-parent {
  align-self: stretch;
  gap: var(--gap-lg);
}
.frame-parent2 {
  width: 343.7px;
  margin: 0 !important;
  position: absolute;
  top: 308px;
  left: 0;
  padding: var(--padding-7xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-5xl);
}
.triangle-shape-parent {
  width: 1200px;
  height: 544px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-5xl);
}
.pattern-recognizer,
.rule-applier {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.rule-applier {
  flex: 1;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-82xl) var(--padding-xl) var(--padding-136xl);
  gap: var(--gap-74xl);
  z-index: 2;
}
.pattern-recognizer {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-11xs) 0 0;
  text-align: center;
  font-size: var(--font-size-23xl);
  color: var(--primary-100);
  font-family: var(--font-garnett-semibold);
}
@media screen and (max-width: 1125px) {
  .rule-applier {
    padding-top: var(--padding-47xl);
    padding-bottom: var(--padding-82xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 825px) {
  .our-amazing-benefits-container {
    font-size: var(--font-size-15xl);
    line-height: 40px;
  }
  .rule-applier {
    gap: 46px 93px;
    padding-top: var(--padding-24xl);
    padding-bottom: var(--padding-47xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .our-amazing-benefits-container {
    font-size: var(--font-size-6xl);
    line-height: 30px;
  }
  .automated-scheduling,
  .highly-contextualized-intervie-container {
    font-size: var(--font-size-lgi);
  }
  .rule-applier {
    gap: 23px 93px;
  }
}
