.eos-iconsai {
  width: 50px;
  height: 50px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.p1 {
  margin: 0;
}
.cost-reduce1 {
  margin: 0;
  font-family: var(--font-garnett-regular);
}
.cost-reduce,
.zero-overhead-in {
  align-self: stretch;
  position: relative;
}
.cost-reduce {
  margin: 0;
  height: 66px;
  font-size: inherit;
  display: inline-block;
  font-family: inherit;
}
.zero-overhead-in {
  font-size: var(--font-size-base);
  line-height: 28px;
  font-family: var(--font-poppins);
  color: var(--color-gray-400);
}
.triangle-shape {
  width: 343.7px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lg);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--primary-100);
  font-family: var(--font-garnett-semibold);
}
@media screen and (max-width: 450px) {
  .cost-reduce {
    font-size: var(--font-size-lgi);
  }
}
