@import url("https://fonts.googleapis.com/css2?family=Actor:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gilroy-Regular:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Garnett+Light:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Garnett+Semibold:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Garnett+Regular:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Garnett+Medium:wght@400&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-garnett-semibold: "Garnett Semibold";
  --font-garnett-regular: "Garnett Regular";
  --font-garnett-medium: "Garnett Medium";
  --font-space-grotesk: "Space Grotesk";
  --font-garnett-light: "Garnett Light";
  --font-gilroy-regular: Gilroy-Regular;
  --font-actor: Actor;
  --font-outfit: Outfit;

  /* font sizes */
  --font-size-lg: 18px;
  --font-size-23xl: 42px;
  --font-size-15xl: 34px;
  --font-size-6xl: 25px;
  --font-size-base: 16px;
  --font-size-4xl: 23px;
  --font-size-31xl: 50px;
  --font-size-21xl: 40px;
  --font-size-11xl: 30px;
  --font-size-19xl: 38px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-9xl: 28px;
  --font-size-3xl: 22px;
  --font-size-13xl: 32px;
  --font-size-xl: 20px;
  --font-size-smi-3: 12.3px;
  --font-size-5xl-9: 24.9px;
  --font-size-sm: 14px;
  --font-size-10xl: 29px;
  --font-size-29xl: 48px;
  --font-size-35xl: 54px;
  --font-size-xs-4: 11.4px;
  --font-size-16xl-5: 35.5px;

  /* Colors */
  --neutrals-white: #fafafa;
  --color-gray-100: #8e8e8e;
  --color-gray-200: #202020;
  --color-gray-300: #1f1f1f;
  --color-gray-400: #1d1d1d;
  --black: #1c1c1c;
  --color-gray-500: #181818;
  --primary-100: #5c27c0;
  --white: #f7f7f7;
  --color-whitesmoke-100: #f6f6f6;
  --primary-300: #eee5ff;
  --neutrals-300: #6a6a6a;
  --color-dimgray-100: #5b5b5b;
  --color-darkslategray: #3b3b3b;
  --color-black: #000;
  --color-white: #fff;
  --color-plum: #ad93df;

  /* Gaps */
  --gap-xl: 20px;
  --gap-55xl: 74px;
  --gap-18xl: 37px;
  --gap-lg: 18px;
  --gap-base: 16px;
  --gap-5xl: 24px;
  --gap-3xl: 22px;
  --gap-24xl: 43px;
  --gap-2xl: 21px;
  --gap-smi: 13px;
  --gap-33xl: 52px;
  --gap-7xl: 26px;
  --gap-3xs: 10px;
  --gap-11xl: 30px;
  --gap-mid-4: 17.4px;
  --gap-67xl: 86px;
  --gap-lgi: 19px;
  --gap-11xs: 2px;
  --gap-21xl: 40px;
  --gap-75xl: 94px;
  --gap-28xl: 47px;
  --gap-4xl: 23px;
  --gap-48xl: 67px;
  --gap-14xl: 33px;
  --gap-mid: 17px;
  --gap-199xl: 218px;
  --gap-30xl-5: 49.5px;
  --gap-27xl: 46px;
  --gap-7xs: 6px;
  --gap-8xs: 5px;
  --gap-95xl: 114px;
  --gap-38xl: 57px;
  --gap-9xl: 28px;
  --gap-70xl: 89px;
  --gap-25xl: 44px;
  --gap-74xl: 93px;
  --gap-11xl-8: 30.8px;
  --gap-61xl: 80px;
  --gap-85xl: 104px;
  --gap-8xl: 27px;
  --gap-12xs: 1px;
  --gap-mini: 15px;
  --gap-17xl: 36px;
  --gap-13xl: 32px;
  --gap-5xs-1: 7.1px;

  /* Paddings */
  --padding-16xl: 35px;
  --padding-xl: 20px;
  --padding-94xl: 113px;
  --padding-28xl: 47px;
  --padding-54xl: 73px;
  --padding-88xl: 107px;
  --padding-139xl: 158px;
  --padding-26xl: 45px;
  --padding-48xl: 67px;
  --padding-51xl: 70px;
  --padding-84xl: 103px;
  --padding-2xl: 21px;
  --padding-12xl: 31px;
  --padding-8xl: 27px;
  --padding-13xl: 32px;
  --padding-9xl: 28px;
  --padding-7xl: 26px;
  --padding-base: 16px;
  --padding-12xs: 1px;
  --padding-lg: 18px;
  --padding-59xl: 78px;
  --padding-60xl: 79px;
  --padding-20xl: 39px;
  --padding-3xl: 22px;
  --padding-65xl: 84px;
  --padding-36xl: 55px;
  --padding-58xl: 77px;
  --padding-31xl: 50px;
  --padding-76xl: 95px;
  --padding-43xl: 62px;
  --padding-59xl-6: 78.6px;
  --padding-51xl-2: 70.2px;
  --padding-3xs: 10px;
  --padding-194xl: 213px;
  --padding-71xl: 90px;
  --padding-119xl: 138px;
  --padding-60xl-3: 79.3px;
  --padding-81xl-3: 100.3px;
  --padding-40xl-3: 59.3px;
  --padding-49xl: 68px;
  --padding-25xl: 44px;
  --padding-10xl: 29px;
  --padding-62xl: 81px;
  --padding-101xl: 120px;
  --padding-91xl: 110px;
  --padding-34xl: 53px;
  --padding-41xl: 60px;
  --padding-52xl: 71px;
  --padding-5xl: 24px;
  --padding-70xl: 89px;
  --padding-39xl: 58px;
  --padding-19xl: 38px;
  --padding-2xs: 11px;
  --padding-sm: 14px;
  --padding-55xl: 74px;
  --padding-56xl: 75px;
  --padding-15xl: 34px;
  --padding-11xl: 30px;
  --padding-lgi: 19px;
  --padding-17xl: 36px;
  --padding-16xl-5: 35.5px;
  --padding-38xl: 57px;
  --padding-38xl-5: 57.5px;
  --padding-11xs-5: 1.5px;
  --padding-11xs: 2px;
  --padding-21xl: 40px;
  --padding-mini: 15px;
  --padding-12xs-3: 0.3px;
  --padding-82xl: 101px;
  --padding-136xl: 155px;
  --padding-24xl: 43px;
  --padding-47xl: 66px;
  --padding-7xs: 6px;
  --padding-8xs: 5px;
  --padding-9xs: 4px;
  --padding-9xs-7: 3.7px;
  --padding-54xl-5: 73.5px;
  --padding-5xs: 8px;
  --padding-7xs-5: 5.5px;
  --padding-6xl: 25px;
  --padding-mid-7: 17.7px;
  --padding-6xs: 7px;
  --padding-5xs-8: 7.8px;

  /* Border radiuses */
  --br-3xs: 10px;
  --br-8xs: 5px;
  --br-base: 16px;
  --br-xs: 12px;
  --br-5xs: 8px;
  --br-96xl: 115px;
  --br-7xs-7: 5.7px;
}
